.instructions {
    margin: auto;
    padding: 50px;
    padding-top: 20px;
    width: 80%;
}

.instructions > p {
    color: var(--text-dark);
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1.4rem;
}

.plate-outer {
    margin-left: 30px;
    width: fit-content;
}

.plate-container {
    display: grid;
    gap: 8px;
    border: 1px solid var(--primary);
    padding-right: 25px;
    padding-bottom: 15px;
    background-color: var(--primary-light);
    margin: 0;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    min-width: 40px; /* Adjust as needed */
    min-height: 40px; /* Adjust as needed */
    font-size: 0.75em;
}

.empty-cell {
    background-color: transparent;
    border: none;
}

.column-label,
.row-label {
    font-weight: bold;
    background-color: transparent;
}

.well {
    border: 1px solid #eee;
    border-radius: 40px;
    background-color: #fff;
    cursor: default;
    margin: 2px;
}

.low-droplet {
    background-color: var(--accent); /*#ffcccc; /* Light red for low droplets */
    color: #e0e0e0;
}
