:root {
    /* colors for regular mode, come back if I have time for dark 
    --primary: #259b4b;
    --secondary: #d9f2e5; */
    --accent: #fa8c03;

    --primary: #1b1b61;
    --primary-hover: #4338ca;
    --primary-light: #add0ef;
    --text-main: #1f2937;
    --text-muted: #555555;
    --text-light: #f6f6f6;
    --border: #e5e7eb;
    --bg-page: #f9fafb;
    --bg-dark: #15172c;
    --bg-card: #ffffff;
    --error-bg: #f8d7da;
    --error-text: #b91c1c;
    --success-bg: #f0fdf4;
    --success-text: #259b4b;
    --radius: 10px;

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --button-gray: #707070;

    /* include basic fonts from each major OS to prevent need to load one */
    font-family:
        'Inter',
        -apple-system,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f5fc;
    color: var(--text-light);
    height: 100%;
    margin: 0;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 20px 0;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--primary);
}

main {
    display: flex;
    flex-direction: column;
}

aside {
    background-color: var(--bg-dark);
    color: var(--text-light);
    padding: 30px;
}

footer {
    background-color: var(--secondary);
    color: #222222;
    width: 100%;
}

/* card to use for content sectioning  */
.card {
    width: 370px;
    max-width: 370px;
    background: var(--bg-card);
    border-radius: var(--radius);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid var(--primary);
}
.card-header {
    background-color: var(--primary);
    padding: 0.75rem 1.5rem;
    color: white;
}
.header-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-subtitle {
    margin: 4px 0 0 0;
    color: #e0e7ff;
    font-size: 0.875rem;
}
.card-body {
    padding: 0.65rem;
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
}
.card-body-row {
    padding: 0.65rem;
    display: flex;
    flex-direction: row;
    gap: 0.45rem;
}

/*  text containers */
label {
    display: inline-block;
    margin: 1rem;
    font-weight: 500;
    color: var(--gray-900);
}

p {
    margin: 4px 2px;
    font-size: 1.2rem;
    font-weight: 400;
}

p.error {
    color: var(--orange-red);
    font-style: italic;
    text-align: center;
}

p.success {
    color: var(--bright-blue);
    font-style: italic;
    text-align: center;
}

/* form controls */
input {
    height: 2rem;
    border: 1px solid var(--gray-400);
    padding: 2px 4px;
    border-radius: 6px;
}

/* buttons */
.btn {
    flex: 1;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-secondary {
    background-color: white;
    border: 1px solid #d1d5db;
    color: var(--text-main);
}
.btn-secondary:not(:disabled):hover {
    color: var(--text-light);
    background-color: var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    border: none;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.btn-primary:not(:disabled):hover {
    background-color: var(--primary-hover);
}
.btn-primary:not(:disabled):active {
    transform: scale(0.98);
}

/* icons */
.icon {
    width: 24px;
    height: 24px;
}
.icon-sm {
    width: 20px;
    height: 20px;
}
.large-icon {
    width: 100%;
    height: 100%;
}
